<!DOCTYPE html>
<html lang="">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Buscador ARASAAC</title>

        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="../libraries/bootstrap-4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../libraries/Font-Awesome-fa-4/css/font-awesome.min.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script type="text/javascript" src="../node_modules/html5shiv/dist/html5shiv.min.js"></script>
        <script type="text/javascript" src="../node_modules/respond.js/dest/respond.min.js"></script>
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/popper.js/dist/popper.min.js"></script>
        <script type="text/javascript" src="../libraries/bootstrap-4.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../proyecto/busqueda.js"></script>

    </head>

    <body class="container-fluid">
        
        <nav class="navbar fixed-top navbar-light bg-light justify-content-center" id="barraBusqueda">
            <select class="selectpicker btn-outline-info mr-2 col-3 col-md-2" id="language">
                <option value="es">Español</option>
                <option value="ara">العربية</option>
                <option value="bg">Български </option>
                <option value="ca">Català</option>
                <option value="de">Deutsch</option>
                <option value="en">English</option>
                <option value="eu">Euskara</option>
                <option value="fr">Français</option>
                <option value="cr">Hrvatski</option>
                <option value="it">Italiano</option>
                <option value="ga">Galego</option>
                <option value="pl">Polski</option>
                <option value="pt">Português</option>
                <option value="br">Português do Brasil</option>
                <option value="ru">Русский </option>
                <option value="ro">Română</option>
                <option value="val">Valencià</option>
                <option value="zhs">汉语</option>
            </select>
            <div class="search-container">
                <form class="form-inline">
                    <input type="text" placeholder="Search.." id="searchTxt"  class="form-control col-10 col-sm-8">
                    <button id="search" type="button" class="btn btn-outline-info"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </nav>

        <div id="resultado"></div>
        
        <div class="row" id="infoPage">
            <button type="button" id="volver" class="btn mb-2"><i class="fa fa-arrow-left"></i></button>
            <div class="w-100"></div>
            <div class="col-sm-4" id="wikiDownload">
                <img id="wikiImg" src="" name="" class="img-thumbnail mb-3">
                <form class="col-12 mb-3">
                    <span>Tamaño: </span>
                    <select class="selectpicker btn-outline-info">
                        <option value="300">300</option>
                        <option value="500">500</option>
                        <option value="2500">2500</option>
                    </select>
                </form>
                <button type="button" id="wikiSave" name="guardar" class="btn btn-outline-info mb-4"><i class="fa fa-save"></i> Download</button>
            </div>
            <div class="col-sm-4">
                <b id="wikiPicto"></b><span id="wikiMeaning"></span><br/><br class="blankLine"/>
                <b>Palabras relacionadas: </b><span id="wikiWords"></span>
            </div>
            <div class="col-sm-4">
                <b>Autor: </b><span id="wikiAuthor"></span><br/><br class="blankLine"/>
                <b>Web: </b><a id="wikiWeb" href=""></a><br/><br class="blankLine"/>
                <b>Email: </b><span id="wikiEmail"></span><br/><br class="blankLine"/>
                <b>Licencia: </b><span id="wikiLicense"></span>
            </div>
        </div>
        
        <div class="modal fade" id="downloadModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="alert alert-success">
							Imagen descargada correctamente.
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-info" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="errorModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="alert alert-danger">
							<strong>¡ERROR!</strong> No se pudo descargar la imagen correctamente.
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-info" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>

        <input type="file" nwsaveas="pictograma.png" id="saveImage">

    </body>
</html>